# KERNEL NAME
CONFIG_LOCALVERSION="-iaca_custom"

# ENABLE VCIO
CONFIG_BCM_VCIO=y
CONFIG_BCM2835_MBOX=y
CONFIG_RASPBERRYPI_FIRMWARE=y

# MISSING CONFIG FOR THE CM5
#CONFIG_I2C_DESIGNWARE_CORE=m
#CONFIG_I2C_DESIGNWARE_PLATFORM=m