# ENABLE RUST SUPPORT
CONFIG_RUST=y

# CONFIG_RUST depends on !MODVERSIONS
# CONFIG_MODVERSIONS is not set

# CONFIG_RUST depends on !GCC_PLUGIN_RANDSTRUCT
# CONFIG_GCC_PLUGIN_RANDSTRUCT is not set

# CONFIG_RUST depends on !RANDSTRUCT
# CONFIG_RANDSTRUCT is not set

# CONFIG_RUST depends on !DEBUG_INFO_BTF || PAHOLE_HAS_LANG_EXCLUDE
# Disable DEBUG_INFO_BTF unless PAHOLE_HAS_LANG_EXCLUDE is available.
# CONFIG_DEBUG_INFO_BTF is not set

# CONFIG_RUST depends on !CFI_CLANG || HAVE_CFI_ICALL_NORMALIZE_INTEGERS_RUSTC
# Disable CFI_CLANG for toolchains that do not satisfy the Rust requirement.
# CONFIG_CFI_CLANG is not set

# CONFIG_RUST depends on !CALL_PADDING || RUSTC_VERSION >= 108100
# CONFIG_CALL_PADDING is not set

# CONFIG_RUST depends on !KASAN_SW_TAGS
# CONFIG_KASAN_SW_TAGS is not set

# CONFIG_RUST depends on !(MITIGATION_RETHUNK && KASAN) || RUSTC_VERSION >= 108300
# With rustc < 1.83, avoid enabling KASAN together with MITIGATION_RETHUNK.
# CONFIG_KASAN is not set